---

---

<nav transition:name="hero" class="nav">
  <a
    href="/"
    class="nav-link"
    aria-current={Astro.url.pathname === "/" ? "page" : undefined}
  >
    Home
  </a>
  <a
    href="/blog"
    class="nav-link"
    aria-current={Astro.url.pathname === "/blog" ? "page" : undefined}
  >
    Blog
  </a>
  <a
    href="/about"
    class="nav-link"
    aria-current={Astro.url.pathname === "/about" ? "page" : undefined}
  >
    About
  </a>
  <a
    href="/contact"
    class="nav-link"
    aria-current={Astro.url.pathname === "/contact" ? "page" : undefined}
  >
    Contact
  </a>
</nav>
